*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.side-bar{
    background-color: #af7005;
    width: 300px;
    color: white;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
input {
    width: 80%;
    padding: 5px;
}

input[type="checkbox"]{
    height: 0;
    width: 0;
}

.checkbox{
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 200px;
    margin-top: -30px;
    border-radius: 0.3em
}