*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

.container{
    display: flex;
}

.side-bar{
    background-color: #af7005;
    width: 350px;
    height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 0px 5px gray
}

form{
    background-color: white;
    width: 250px;
    border-radius: 1em;
    color: black;
    padding: 20px;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
input {
    width: 80%;
    padding: 5px;
}

input[type="checkbox"]{
    width: auto;
    margin-top: 10px
}

button{
    background-color:rgb(127, 238, 255);
    width: 250px;
    border-radius: 1em;
    border: none
}

.card-container{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card{
    background-color:rgb(127, 238, 255);
    height: 270px;
    padding: 15px;
    border-radius: 1em 0em 0em 1em;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    font-size: 14px;
    border-left: solid 20px rgb(50, 31, 4)
}

.card h3, h2, h4{
    font-size: 16px;
    margin-bottom: -20px
}

.card button{
    background-color: gray;
    width: 120px;
}